@model IEnumerable<MVCFunctions.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassInfoClassId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassInfoClassId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.UserId, name = item.UserName }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.UserId, name = item.UserName })
        </td>
    </tr>
}

</table>

<br />
<form action="/UserInfo/Index" method="post">
    <input type="text" name="txtPageIndex"/>
    <input type="submit"/>
</form>
